@use '@angular/material' as mat;
@use './app/core/styles/variables' as *;
@use './app/core/styles/mixins' as *;
@import 'leaflet/dist/leaflet.css';

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: dark;
  margin: 0;
  height: 100%;
  background-color: var(--sm-color-gunmetal-950);
  color: var(--sm-color-text-main);
  font-family: var(--sm-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include custom-scrollbar;
}

// Global Classes
.sm-glass-card {
  @include glass-card;
}

.sm-metallic-bg {
  @include metallic-gradient;
}

.sm-sapphire-bg {
  @include sapphire-gradient;
}

// Override Angular Material global styles if needed
.mat-mdc-card {
  background-color: var(--sm-color-gunmetal-900) !important;
  border: 1px solid var(--sm-color-border) !important;
}
